{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="http://www.teleamazonas.com/wp-content/uploads/2019/03/clarke1.jpg" alt="Stifmeister logo">
                </div>
                <div class="card-content">
                    <div class="row">
                        <form class="col s12" action="{{ path_for('auth.signup') }}" method="post">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" id="name" name="name" value="{{ old.name }}" class="validate {{ errors.name ? ' invalid' : ''}}">
                                    <label for="name">Name</label>
                                    {% if errors.name %}
                                        <span class="helper-text" data-sucess="" data-error="{{ errors.name | first }}"></span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="email" id="email" name="email" value="{{ old.email }}" class="validate {{ errors.email ? ' invalid' : '' }}">
                                    <label for="email">Email</label>
                                    {% if errors.email %}
                                        <span class="helper-text" data-succes="" data-error="{{ errors.email | first }}"></span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="password" id="password" name="password" class="validate {{ errors.password ? 'invalid' : '' }}">
                                    <label for="password">Password</label>
                                    {% if errors.password %}
                                        <span class="helper-text" data-succes="" data-error="{{ errors.password | first }}"></span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn waves-effect waves-light">Sign In
                                        <i class="material-icons right">send</i>
                                    </button>
                                    {{ csrf.fields | raw }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}