{% extends 'layouts/app.twig' %}

{% block content %}
    {% include 'partials/navigator.twig' %}
    {% include 'partials/flash.twig' %}
    <h2>Dia y hora actual</h2>

    {# Devuelve el día y la hora actual en formato 'd/m/Y H:i' de la zona horaria de Paris #}
    <p>{{ "now"|date('d/m/Y H:i', timezone="Europe/Paris") }}</p>
{% endblock %}