<ul id="dropdown" class="dropdown-content">
    <li><a href="{{ path_for('auth.signout') }}">Sign out</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if not auth.check %}
                <li><a href="{{ path_for('auth.signin') }}">Login</a></li>
                <li><a href="{{ path_for('auth.signup') }}">Sign Up</a></li>
            {% else %}
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown">{{ auth.user.name }}<i class="material-icons right">arrow_drop_down</i></a></li>
            {% endif %}
        </ul>
    </div>
</nav>