<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base Document</title>

    {# Materialize icons library #}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {# Compiled and minified CSS of Materialize #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    {# Minified JQuery library #}
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

    {# Compiled and minified JavaScript of Materizalize #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {# El método 'base_url()' devuelve la ruta donde se encuetra el fichero 'index.php', que es
    desde donde se ha iniciado la apliación, en este caso el directorio '/public'. #}
    <link rel="stylesheet" href="{{ base_url() }}/css/style.css">
</head>
<body>
    <div class="container" id="app">
        {% block content %}{% endblock %}
    </div>

    <script src="./js/components/_nav.js"></script>
</body>
</html>